header{
    background:lightblue;
    text-align: center;
    font-size: 40px;
    padding: 15px;
  
}

#cityColumn{
    display: flex;
    flex-direction: column;
  
    max-width: 700px;
    padding: 15px;
  
}

button{
    height: 40px;
    width: 300px;
    margin: 7px 5px;
}
#weatherLayout{
    display: flex;
    flex-direction: row;
 
}
#weatherSummary{
    border-style:inset;
    width: 780px;
}
#fiveDayForecast{
    display: flex;
    flex-direction: row;
    
}
#secondWeatherBox{
 
    border-color:black
}
.cardsWeather{
    height: 200px;
    width: 150px;
    border-style: inset;
}

img{
    height: 100px;
    width: 100px;
}